go 1.26

toolchain go1.26.4

use (
	./monolith
	./services/attendance-service
	./services/auth-service
	./services/catalog-service
	./services/enrollment-service
	./services/notification
	./services/payment-service
	./services/staff-service
	./services/student-service
	./shared
)
